<body>
	<div class="content">
		

		<div class="left">
		<h4>Blur Menu <span>with Css3</span></h4>
			<ul>
			<% Favorite.all.each do |i| %>
				<li> <a href=""><%= i.name %></a></li>
        	<%end%>
    	</ul>
		</div>
	</div>
</body>